title        "gtlds"
description  "sort .gTLD's by length and price"
media-type   "webpage"
tags         "tld"  "js"  "sort"  "table"  "ui"
license      "AGPL"
homepage     "https://dym.sh/gtlds"
source       "https://source.garden/dym/gtlds"

mirrors {
  codepen  "https://codepen.io/dym-sh/pen/poaKXox"
}
